button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color:rgba(0, 0, 0, 0.667);
    color: white;
    border: none;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display:grid;
     grid-template-columns:repeat(4,1fr);
     gap: 10px; 
     padding: 25px;
     
}
#calculator{
    background-color:rgba(3, 0, 0, 0.895);
    border-radius: 20px;
    width: 500px;
    overflow:hidden;
}
#display{
    width: 100%;
    padding: 40px;
    font-size: 70px;
    border: none;
    background-color:rgba(0, 0, 0, 0.667); 
    color: white;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

button:hover{
    background-color:rgba(0, 0, 0, 100%) ;
}
button:active{
    background-color: rgba(0, 0, 0, 50%);
}
.operator{
    background-color:orange;
}
.operator:hover{
    background-color: rgba(255, 166, 0, 0.651);
}
.operator:active{
    background-color: rgba(255, 166, 0, 80%);
}

